body {
  background-color: #EED3EF;
  color: #40514E;
  font-family: "Georama", sans-serif;
  margin: auto;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: "Georama", serif;
  line-height: 1.5;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  color: #66BFBF;
  font-family: "Courgette";
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  color: #11999E;
  font-family: "Josefin Slab";
}

hr {
  border: dotted 5px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.header__container {
  background: url("https://img.freepik.com/free-vector/earth-space-scene_1308-32313.jpg?size=626&ext=jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px;
  border-style: solid;
  display: block;
  height: 28vw;
  padding-top: 2rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__header {
    margin: 0.15vw;
  }
}
@media screen and (min-width: 768px) {
  .header__header {
    margin-top: 4vw;
    margin-bottom: 0;
  }
}
.header__subheader {
  margin: 0;
}
.header__astronaut {
  height: 15vw;
  position: absolute;
  left: 10vw;
  top: 10vw;
}
.header__nebula {
  height: 10vw;
  position: absolute;
  right: 10vw;
  top: 10vw;
}
.header__avatar {
  border-radius: 50%;
  border: solid 3px black;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}
@media screen and (max-width: 767px) {
  .header__avatar {
    width: 20%;
  }
}

.profile {
  margin: 11vw auto;
}
@media screen and (max-width: 767px) {
  .profile {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .profile {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .profile__description {
    font-size: 1.5rem;
  }
}

.projects__row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.projects__kitchen-companion {
  border-radius: 50%;
  float: left;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
  width: 200px;
}
.projects__simon-game {
  border-radius: 50%;
  float: right;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
  width: 200px;
}
.projects__dino-game {
  border-radius: 50%;
  float: left;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
  width: 200px;
}

.language {
  border-radius: 50%;
  float: left;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
  width: 200px;
}

.baking {
  border-radius: 50%;
  float: right;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
  width: 200px;
}

.piano {
  border-radius: 50%;
  float: left;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
  width: 200px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 80px 0 20px;
  width: auto;
}

.btn {
  background: #11CDD4;
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  border-radius: 20px;
  color: #EAF6F6;
  font-family: "Josefin Slab";
  font-size: 23px;
  font-weight: 400;
  margin: 50px auto;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  padding: 17px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #30E3CB;
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  border-radius: 20px;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

#aProgrammer {
  font-weight: normal;
}/*# sourceMappingURL=styles.css.map */