@use "./sizings.scss";

body {
  font-family: "Georama", sans-serif;
  margin: auto;
  overflow-x: hidden;
  text-align: center;
  --green: #44a2a2;
  --green-hover: #0c6f72;
  --lightpurple: #eed3ef;
  --textblack: #40514e;
}

h1 {
  font-family: "Georama", serif;
  @include sizings.mobile {
    font-size: 1.25rem;
  }
  @include sizings.tabdesk {
    font-size: 2.5rem;
  }
}

h2 {
  color: var(--green);
  font-family: "Courgette";
  @include sizings.mobile {
    font-size: 2rem;
  }
  @include sizings.tabdesk {
    font-size: 2.5rem;
  }
}

h3 {
  color: var(--green);
  font-family: "Josefin Slab";
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}

.text-bold {
  font-weight: bold;
}

// Animated shapes
.background-octo {
  width: clamp(100px, 30vw, 300px);
  height: clamp(100px, 30vw, 300px);

  position: absolute;
  top: 550px;
  left: -300px;

  animation: 75s linear 0s infinite running travel-octo;
  z-index: -1;
}

.background-star {
  width: clamp(100px, 30vw, 300px);
  height: clamp(100px, 30vw, 300px);

  position: absolute;
  top: 1550px;
  left: -300px;

  animation: 70s linear 15s infinite running travel-star;
  z-index: -1;
}

.background-circle {
  width: clamp(100px, 30vw, 300px);
  height: clamp(100px, 30vw, 300px);

  position: absolute;
  top: 0px;
  left: -300px;

  animation: 60s linear 45s infinite running travel-circle;
  z-index: -1;
}
.background-triangle {
  width: clamp(100px, 30vw, 300px);
  height: clamp(100px, 30vw, 300px);

  position: absolute;
  top: 1100px;
  left: -300px;

  animation: 45s linear 30s infinite running travel-triangle;
  z-index: -1;
}
.background-square {
  width: clamp(100px, 30vw, 300px);
  height: clamp(100px, 30vw, 300px);

  position: absolute;
  top: 0px;
  left: -300px;

  animation: 100s linear 60s infinite running travel-square;
  z-index: -1;
}

@keyframes travel-octo {
  from {
    left: -300px;
    top: 550px;
  }
  to {
    left: 100%;
    top: 0px;
  }
}
@keyframes travel-star {
  from {
    left: -300px;
    top: 1550px;
  }
  to {
    left: 100%;
    top: 1200px;
  }
}
@keyframes travel-circle {
  from {
    left: -300px;
    top: 0px;
  }
  to {
    left: 100%;
    top: 1350px;
  }
}
@keyframes travel-triangle {
  from {
    left: -300px;
    top: 1100px;
  }
  to {
    left: 100%;
    top: 2200px;
  }
}

@keyframes travel-square {
  from {
    left: -300px;
    top: 0px;
  }
  to {
    left: 100%;
    top: 2100px;
  }
}

// Entry screen and animation
.entry {
  &__page {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: background-color 1s, opacity 1s;
  }
  &__shape {
    height: 100%;
    position: relative;
    width: calc(50% - 57px);
    transition: width 2s;
    &--1:after,
    &--2:before {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
    }
    &--1 {
      float: left;
      background: var(--lightpurple);
      &:after {
        left: 100%;
        border-top: 100vh solid var(--lightpurple);
        border-right: 100px solid transparent;
      }
    }
    &--2 {
      float: right;
      background: var(--green);
      &:before {
        right: 100%;
        border-bottom: 100vh solid var(--green);
        border-left: 100px solid transparent;
      }
    }
  }
  &__container {
    position: absolute;
    transition: opacity 1s;
    width: 100%;
  }
  &__bio {
    align-items: center;
    display: flex;
    justify-content: space-around;
    @include sizings.mobile {
      flex-direction: column;
      margin-top: 15vh;
    }
    @include sizings.tabdesk {
      margin-top: 25vh;
    }
  }
  &__bio-section {
    min-width: 40vw;
    &--1 {
      @include sizings.mobile {
        margin-right: 60%;
        margin-bottom: -2%;
      }
    }
    &--2 {
      @include sizings.mobile {
        margin-left: 60%;
        margin-top: -2%;
      }
    }
  }
  &__header {
    margin: 0 auto;
    width: 85%;
    @include sizings.mobile {
      font-size: 2rem;
    }
    @include sizings.tabdesk {
      font-size: 4.5rem;
    }
    &--bio-1 {
      color: var(--green);
    }
    &--bio-2 {
      color: var(--lightpurple);
    }
  }
  &__subheader {
    margin: 0 auto;
    width: 90%;
    @include sizings.mobile {
      font-size: 1rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
    &--bio-1 {
      color: var(--green);
    }
    &--bio-2 {
      color: var(--lightpurple);
    }
  }
  &__avatar {
    border: 4px solid var(--textblack);
    border-radius: 50%;
    max-width: 150px;
    @include sizings.mobile {
      width: 40vw;
    }
  }

  &__button {
    // background-image: linear-gradient(85deg, #44a2a2, #eed3ef);
    border: 2px solid var(--textblack);
    border-radius: 50px;
    font-family: "Courgette";
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
    width: 10rem;
  }
}

// Navbar
.navbar {
  background-color: var(--green);
  font-family: "Josefin Slab";
  &-brand {
    color: white;
    margin: 0 auto;
    padding: 0.5rem;
    @include sizings.mobile {
      font-size: 1.25rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
  }
}

// Header
.header {
  display: flex;
  @include sizings.mobile {
    flex-direction: column;
  }
  @include sizings.tabdesk {
    flex-direction: row;
  }
  &__container {
    @include sizings.tabdesk {
      width: 50%;
    }
    &--hero {
      background: url("../images/images/hero.png");
      background-size: cover;
      background-position: center;
      @supports (mix-blend-mode: multiply) {
        position: relative;
        overflow: hidden;
        background-color: #44a2a2;
        background-blend-mode: screen;
        &:before,
        &:after {
          display: block;
          content: "";
          position: absolute;
          top: 7.5px;
          left: 7.5px;
          right: 7.5px;
          bottom: 7.5px;
          background: inherit;
          mix-blend-mode: multiply;
          transform: scale(1.01);
        }
      }
    }
    &--before {
      @include sizings.tabdesk {
        display: none;
      }
    }
    &--after {
      @include sizings.mobile {
        display: none;
      }
    }
    &--bio {
      align-items: center;
      background-color: var(--lightpurple);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }
  }
  &__socials {
    margin: 1.5rem;
  }
  &__social-link {
    margin: 0 0.5rem;
  }
  &__social-icon {
    width: 2rem;
  }
  &__description {
    color: var(--textblack);
    font-family: "Georama";
    margin: 0 auto;
    @include sizings.mobile {
      font-size: 1rem;
    }
    @include sizings.desktop {
      font-size: 1.25rem;
      width: 50%;
    }
  }
  &__avatar {
    border-radius: 50%;
    border: solid 3px black;
    @include sizings.mobile {
      width: 10rem;
    }
    @include sizings.tabdesk {
      width: 13vw;
    }
  }
}

// Section nav
.sections-nav {
  align-items: center;
  background: var(--green);
  display: flex;
  justify-content: center;
  &__link {
    color: white;
    font-family: "Josefin Slab";
    font-weight: bold;
    margin: 0.75rem;
    cursor: pointer;
    @include sizings.mobile {
      font-size: 1.5rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
    &:hover {
      color: var(--lightpurple);
    }
  }
  &__link-break {
    margin: 0 2rem;
    @include sizings.mobile {
      margin: 0 1rem;
    }
  }
}

.sections-container {
  position: relative;
  overflow: hidden;
}

// Info section
.section {
  position: absolute;
  transition: left 2s, opacity 5s;
  opacity: 0;
  // overflow-y: hidden;
  // max-height: 100px;
  &--active {
    opacity: 100;
    // overflow-y: visible;
  }
}

.animation-container {
  position: relative;
  // height: 2500px;
  overflow: hidden;
}

// Projects section
.projects {
  margin: 0 auto;
  width: 100%;
  &__title {
    text-align: center;
    @include sizings.tabdesk {
      margin: 2rem auto 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    width: clamp(200px, 75%, 1000px);
    @include sizings.mobile {
      justify-content: center;
      align-items: center;
    }
    @include sizings.tabdesk {
      justify-content: space-evenly;
    }
  }
}

.project {
  &__card {
    background-color: var(--lightpurple);
    border-radius: 50px;
    box-shadow: 12px 12px 3px 1px var(--green);
    @include sizings.mobile {
      padding: 2rem 0;
      margin-bottom: 2rem;
    }
    @include sizings.tabdesk {
      margin: 2rem auto;
      padding-top: 1rem;
      position: relative;
    }
  }
  &__image {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--green);
    height: 200px;
    width: 200px;
    @include sizings.desktop {
      position: absolute;
      top: -25px;
      &--left {
        left: -50px;
      }
      &--right {
        right: -50px;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 1rem 10% 0;
    @include sizings.desktop {
      margin: 0 175px;
      padding: 2rem 0;
    }
  }
  &__title-link-container {
    display: flex;
    align-items: center;
  }
  &__title {
    margin: 0;
    @include sizings.mobile {
      font-size: 1.5rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
    &:hover {
      color: var(--green-hover);
    }
  }
  &__github-icon {
    margin-left: 1rem;
    width: 2rem;
  }
  &__description {
    margin: 1rem 0;
    @include sizings.mobile {
      font-size: 0.85rem;
    }
  }
  &__specs {
    display: flex;
  }
  &__spec {
    margin-right: 1rem;
    font-weight: 500;
    cursor: pointer;
    @include sizings.mobile {
      font-size: 1rem;
    }
    &--active {
      border-bottom: 2px solid var(--green);
      font-weight: 700;
    }
  }
  &__detail {
    display: none;
    @include sizings.mobile {
      font-size: 0.85rem;
    }
    &--active {
      display: block;
    }
  }
}

// Interests section
.interests {
  margin: 0 auto;
  width: 100%;
  &__title {
    text-align: center;
    @include sizings.tabdesk {
      margin: 2rem auto 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    width: clamp(200px, 75%, 1000px);
    @include sizings.mobile {
      justify-content: center;
      align-items: center;
    }
    @include sizings.tabdesk {
      justify-content: space-evenly;
    }
  }
}

.interest {
  &__card {
    background-color: var(--lightpurple);
    border-radius: 50px;
    box-shadow: 12px 12px 3px 1px var(--green);
    @include sizings.mobile {
      padding: 2rem 0;
      margin-bottom: 2rem;
    }
    @include sizings.tabdesk {
      margin: 2rem auto;
      padding-top: 1rem;
      position: relative;
    }
  }
  &__image {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--green);
    height: 200px;
    width: 200px;
    @include sizings.desktop {
      position: absolute;
      top: -25px;
      &--left {
        left: -50px;
      }
      &--right {
        right: -50px;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    text-align: left;
    margin: 1rem 10% 0;
    @include sizings.desktop {
      margin: 0 175px;
      padding: 2rem 0;
    }
  }
  &__title {
    margin: 0;
    @include sizings.mobile {
      font-size: 1.5rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
  }
  &__description {
    margin: 1rem 0;
    @include sizings.mobile {
      font-size: 0.85rem;
    }
  }
  &__spec {
    font-weight: 500;
    cursor: pointer;
    width: 60px;
    @include sizings.mobile {
      font-size: 1rem;
    }
    &--active {
      border-bottom: 2px solid var(--green);
      font-weight: 700;
    }
  }
  &__detail {
    display: none;
    @include sizings.mobile {
      font-size: 0.85rem;
    }
    &--active {
      display: block;
    }
  }
}

// Contact section
.cta {
  margin: 0 auto;
  width: 100%;
  &__title {
    text-align: center;
    @include sizings.tabdesk {
      margin: 2rem auto 0;
    }
  }
  &__container {
    background: var(--lightpurple);
    border-radius: 50px;
    margin: 2rem auto 5rem;
    padding: 2rem;
    width: clamp(200px, 50vw, 1000px);
    box-shadow: 12px 12px 3px 1px var(--green);
  }
  &__blurb1 {
    @include sizings.mobile {
      font-size: 1.25rem;
    }
    @include sizings.tabdesk {
      font-size: 2rem;
    }
  }
  &__blurb1,
  &__blurb2 {
    padding: 1rem;
    margin: 0 auto;
  }
  &__background-details-container {
    display: flex;
  }
  &__background {
    background-image: url("../images/icons/contact-us.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @include sizings.mobile {
      width: 0;
    }
    @include sizings.tabdesk {
      width: 50%;
    }
  }
  &__details-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: left;
    margin: 0 0 0 auto;
  }
  &__icon {
    margin: 0.5rem;
    width: clamp(3rem, 4vw, 5rem);
  }
  &__detail {
    color: var(--textblack);
  }
}

// Footer
.footer {
  background-color: var(--green);
  bottom: 0;
  position: fixed;
  width: 100%;
  &__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    margin: 0 0.5rem;
  }
  &__icon {
    width: 2rem;
  }
  &__copyright {
    color: #eaf6f6;
    font-size: 1em;
    margin: 1rem auto;
  }
}
