body {
  color: #40514e;
  font-family: "Georama", sans-serif;
  margin: auto;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Georama", serif;
  line-height: 1.5;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  color: #66bfbf;
  font-family: "Courgette";
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  color: #11999e;
  font-family: "Josefin Slab";
}

hr {
  border: dotted 5px;
  border-bottom: none;
  margin: -2.5px auto 0;
  width: 5%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

.navbar {
  background-color: #66bfbf;
  display: flex;
  justify-content: space-between;
  font-family: "Courgette";
}
.navbar-brand {
  align-self: center;
  color: #fff;
  font-size: 1.5rem;
  margin: 0.5rem 2rem;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  width: 30vw;
}
@media screen and (max-width: 767px) {
  .navbar-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #fff;
}

.header {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__container {
  height: 25vw;
}
@media screen and (max-width: 767px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 50%;
  }
}
.header__container--hero {
  background: url("../images/images/hero.png");
  background-size: cover;
  background-position: center;
}
@supports (mix-blend-mode: multiply) {
  .header__container--hero {
    position: relative;
    overflow: hidden;
    background-color: #11999e;
    background-blend-mode: screen;
  }
  .header__container--hero:before, .header__container--hero:after {
    display: block;
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: inherit;
    mix-blend-mode: multiply;
    transform: scale(1.01);
  }
}
@media screen and (min-width: 768px) {
  .header__container--before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__container--after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__header {
    margin: 0.15vw;
  }
}
@media screen and (min-width: 768px) {
  .header__header {
    margin-top: 4vw;
    margin-bottom: 0;
  }
}
.header__subheader {
  color: #66bfbf;
  font-family: "Courgette";
  margin: 0;
}
@media screen and (max-width: 767px) {
  .header__subheader {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .header__subheader {
    font-size: 1.5rem;
  }
}
.header__avatar {
  border-radius: 50%;
  border: solid 3px black;
}
@media screen and (max-width: 767px) {
  .header__avatar {
    width: 20%;
  }
}

.profile {
  background-color: #eed3ef;
  padding: 5rem 0;
}

.profile__container {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .profile__container {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .profile__container {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__container {
    width: 70%;
  }
}
.profile__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__link {
  font-size: 1.5rem;
}
.profile__link-break {
  margin: 0 2rem;
}
@media screen and (min-width: 768px) {
  .profile__description {
    font-size: 1.5rem;
  }
}

.projects {
  margin: 0 auto;
  width: 50%;
}
.projects__container {
  display: flex;
  margin: 2rem auto 5rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .projects__container {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .projects__container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.projects__title {
  margin: 5rem auto 0;
  text-align: center;
}

.empty {
  height: 225px;
}

.project__text {
  padding-top: 50rem;
}
.project__image {
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}
.project__link {
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  width: 200px;
}
.project__header {
  margin: 1rem;
}

.interests {
  background-color: #eed3ef;
}
.interests__container {
  margin: 0 auto;
  padding-bottom: 5rem;
  width: 100%;
}
.interests__row {
  margin: 100px auto;
  padding-bottom: 1rem;
  text-align: left;
  width: 50%;
}
.interests__title {
  margin: 0 auto;
  padding: 5rem 0 2rem;
  text-align: center;
}

.carousel-inner {
  width: 50%;
  margin: 0 auto;
}

.interest__image {
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}
.interest__description {
  color: #40514e;
}
.interest__item {
  color: #40514e;
  height: 275px;
  display: flex;
  align-items: center;
}
.interest__item--odd {
  flex-direction: row-reverse;
}
.interest__item--even {
  flex-direction: row;
}
.interest__text {
  padding: 0;
}
.interest__text--odd {
  left: 0;
  right: 25%;
}
.interest__text--even {
  right: 0;
  left: 25%;
}

.cta__title {
  margin: 5rem auto 2rem;
}
.cta__btn {
  background: #11cdd4;
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 20px;
  color: #eaf6f6;
  font-family: "Josefin Slab";
  font-size: 23px;
  font-weight: bold;
  margin: 50px auto;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  padding: 17px;
  cursor: pointer;
  text-align: center;
}
.cta__btn:hover {
  background: #30e3cb;
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  border-radius: 20px;
  text-decoration: none;
}

.footer {
  background-color: #66bfbf;
  padding: 20px 0 10px;
  width: auto;
}
.footer__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link {
  margin: 0 0.5rem;
}
.footer__icon {
  width: 2rem;
}
.footer__copyright {
  color: #eaf6f6;
  font-size: 0.75em;
}/*# sourceMappingURL=styles.css.map */